# macOS system files
.DS_Store

data/raw_docs/

data/processed/

data/indexes/

data/eval/runs/

.env

pycache/

.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Logs and debug
*.log

# Temporary files
*.tmp
*.swp

# Build and distribution folders
build/
dist/
*.egg-info/

# VS Code settings
.vscode/

