pyyaml

llama-index
llama-index-vector-stores-faiss
faiss-cpu
llama-index-embeddings-huggingface
llama-index-llms-huggingface

torch
transformers==4.41.2
sentence-transformers==2.7.0

ragas
arize-phoenix
python-dotenv